<div class="event__details__container">
  <div class="event__poster__container">
    <img src="<%=posterUrl %>" class="event__poster" alt="Poster for <%=title %>" />
  </div>
  <div class="event__details">
    <div class="event__title__container">
      <p id="event__title"><%=title %></p>
      <p id="event__tagline"><%=tagLine %></p>
      <hr style="height: 4px !important" width="40%" size="4" color="#3940D0" />
    </div>
    <div class="event__poster__mobile__container">
      <img src="<%=posterUrl %>" class="event__poster" alt="Poster for <%=title %>" />
    </div>
    <% eventDescription.forEach(para => { %>
    <p class="event__description"><%=para %></p>
    <% }); %>
  </div>
</div>
