<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1" />
    <link rel="icon" href="img/only logo.png" />
    <link rel="stylesheet" href="css/board-member-card-blue.css" />
    <link rel="stylesheet" href="css/board-member-card-white.css" />
    <link rel="stylesheet" href="css/board-member-card-marketing.css" />
    <link rel="stylesheet" href="css/board-member-card-last-row.css" />
    <link rel="stylesheet" href="css/board.css" />
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>SEDS - VIT</title>
  </head>

  <body>
    <%- include ('partials/navbar.ejs') %>
    <div class="board__members">
      <div class="board__heading">
        <h1>The team that makes it possible</h1>
      </div>
      <div class="dept__row" style="align-items: center; justify-content: center">
        <%- include ('partials/board-member-card-blue-chair.ejs', {members: members, i: 0})%>
      </div>
      <% let i; %> <% for(i = 1; i < 7; i++) { %> <% if(members[i].color == 'white') { %>
      <div class="dept__row row--white">
        <div class="dept__name dept__name--white"><span><%- members[i].dept %></span></div>
        <%- include ('partials/board-member-card-white.ejs', {members: members, i: i})%> <% i++; %> <%- include
        ('partials/board-member-card-white.ejs', {members: members, i: i})%>
      </div>
      <% } else if(members[i].color == 'blue') { %>
      <div class="dept__row row--blue">
        <div class="dept__name dept__name--blue"><span><%- members[i].dept %></span></div>
        <%- include ('partials/board-member-card-blue.ejs', {members: members, i: i})%> <% i++; %> <%- include
        ('partials/board-member-card-blue.ejs', {members: members, i: i})%>
      </div>
      <% } %> <% } %>
      <div class="dept__row row--white">
        <div class="dept__name dept__name--blue"><span class="reverse__text"><%- members[i].dept %></span></div>
        <% for(i = 7; i < 9;) { %> <%- include ('partials/board-member-card-last-row.ejs', {members: members, i: i})%>
        <% i++; %> <% } %>
        <div class="dept__name dept__name--blue"><span><%- members[--i].dept %></span></div>
      </div>
    </div>
    <!-- Desktop Version Ends -->

    <div class="carousel-container board__members--mobile">
      <div class="board__heading">
        <h1>The team that makes it possible</h1>
      </div>
      <div id="slider" class="slider">
        <div class="wrapper">
          <div id="slides" class="slides">
            <div class="slide">
              <div class="dept__name dept__name--blue">
                <span
                  >SEDS VIT <br />
                  BOARD</span
                >
              </div>
            </div>
            <div class="slide">
              <%- include ('partials/board-member-card-blue-chair.ejs', {members: members, i: 0})%>
            </div>
            <% for(i = 1; i < 7;i++) { %> <% if(members[i].color == 'white') {%>
            <div class="slide">
              <div class="dept__name dept__name--white"><span><%- members[i].dept %></span></div>
            </div>
            <div class="slide"><%- include ('partials/board-member-card-white.ejs', {members: members, i: i})%></div>
            <% i++; %>
            <div class="slide"><%- include ('partials/board-member-card-white.ejs', {members: members, i: i})%></div>
            <% } else if(members[i].color == 'blue') { %>
            <div class="slide">
              <div class="dept__name dept__name--blue"><span><%- members[i].dept %></span></div>
            </div>
            <div class="slide"><%- include ('partials/board-member-card-blue.ejs', {members: members, i: i})%></div>
            <% i++; %>
            <div class="slide"><%- include ('partials/board-member-card-blue.ejs', {members: members, i: i})%></div>
            <% } %> <% } %>
            <div class="slide">
              <div class="dept__name dept__name--blue"><span><%- members[7].dept %></span></div>
            </div>
            <div class="slide"><%- include ('partials/board-member-card-blue.ejs', {members: members, i: 7})%></div>
            <div class="slide">
              <div class="dept__name dept__name--white"><span><%- members[8].dept %></span></div>
            </div>
            <div class="slide"><%- include ('partials/board-member-card-white.ejs', {members: members, i: 8})%></div>
          </div>
        </div>
        <div class="carousel__controls">
          <a id="prev" class="control prev"></a>
          <a id="next" class="control next"></a>
        </div>
      </div>
    </div>

    <script src="scripts/carousel.js"></script>
  </body>
</html>
