<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/countdown.css" />
    <link rel="stylesheet" href="css/event-detail.css" />
    <link rel="stylesheet" href="css/navbar.css" />

    <link
      rel="stylesheet"
      href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>SEDS - VIT</title>

    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>

    <!-- Meta tags -->
    <!-- Primary Meta Tags -->
    <title><%=title%></title>
    <meta name="title" content="<%=title%>" />
    <meta name="description" content="<%=metaDescription[0] %>" />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://sedsvit.in/" />
    <meta property="og:title" content="<%=title%>" />
    <meta property="og:description" content="<%=metaDescription[0] %>" />
    <meta property="og:image" content="<%=posterUrl%>" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://sedsvit.in/" />
    <meta property="twitter:title" content="<%=title%>" />
    <meta property="twitter:description" content="<%=eventDescription[0] %> />
    <meta property="twitter:image" content="<%=posterUrl%>" />
  </head>
  <body>
    <div class="main">
      <% if (eventCountdownVisible) { %> <%- include ("partials/countdown.ejs",{eventDate,eventMeetingLink}) %> <% } %>
      <%- include ('partials/navbar.ejs') %> <%- include ('partials/event-details.ejs',{ title, eventDescription,
      tagLine, posterUrl}) %>
    </div>

    <% if (eventCountdownVisible) { %>
    <script>
      particlesJS.load("particles__container", "scripts/particle_config.json");
    </script>
    <script src="scripts/countdown.js"></script>
    <% } %>
  </body>
</html>
